body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    right: 10px;
}

.mines-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.settings {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.mines-game-board {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mines-game-row {
    display: flex;
    gap: 5px;
}

.mines-game-cell {
    width: 90px;
    height: 90px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

.mines-game-cell:hover {
    background-color: #444;
}

.mines-game-cell:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #444;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s;
}

.mines-game-cell[data-revealed="true"]:before {
    transform: scaleY(1);
}

.mines-game-cell[data-mine="true"][data-revealed="true"] {
    background-color: #F44336;
}

.mines-game-cell[data-revealed="true"]:after {
  position: absolute;
}

.mines-game-cell[data-mine="true"][data-revealed="true"]:after {
    font-size: 30px;
    content: "💣";
    color: #333;
}

.mines-game-cell[data-mine="false"][data-revealed="true"]:after {
    font-size: 30px;
    content: "✓";
    color: #4CAF50;
}

.cash-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cash-out-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.message-box {
    display: none;
    position: fixed;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
}

.message-box p {
    margin-bottom: 20px;
}
button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #337c37;
}
button:disabled {
    background-color: #2e7d32;
    cursor: not-allowed;
}
